出品者: <b><%= @auction.post.user.name %></b><br>
現在の入札価格: <b><%= @auction.suggested_price %></b> 円
<%= link_to("/posts/#{@auction.post.id}") do %>
    <div>
        back
    </div>
<% end %>
<% if(@auction.user == @current_user) %>
    <%= form_tag("/auctions/#{@auction.id}/destroy", {method: :post}) do %>
        <input type="submit" value="削除">
    <% end %>
<% end %>
