<%= @auction.post.user.name %>
<%= @auction.suggested_price %>
<%= link_to("/posts/#{@auction.post.id}") do %>
    <div>
        back
    </div>
<% end %>
<% if(@auction.user == @current_user) %>
    <%= form_tag("/auctions/#{@auction.id}/destroy", {method: :post}) do %>
        <input type="submit" value="削除">
    <% end %>
<% end %>
