<h1>Edit your post</h1>

<div>
  <div>
    <%= form_tag("/user/#{@user.id}/update",{multipart: true}) do %>
      <p>name</p>
      <input type="name" name="name" value="<%= @user.name %>">
      <p>email</p>
      <input type="email" name="email" value="<%= @user.email %>">
      <p>password</p>
      <input type="password" name="password" value"<%= @user.password %>">
      <p>画像</p>
      <input name="image" type="file">
      <br>
      <input type="submit" value="保存">
    <% end %>
  </div>
</div>

