<h1 class="users-heading">ユーザー一覧</h1>
<% @users.each do |user| %>
  <div class="user-right">
    <!--デバック用に画像のサイズは小さめに設定した-->
    <img src="<%= "/user_images/#{user.id}" %>" align="left" width="30" height="25">
    <%= link_to(user.name, "/user/#{user.id}") %>
  </div>
<% end %>
