<h1>Edit your post</h1>

<div>
  <div>
    <%= form_tag("/posts/#{@post.id}/update",{multipart: true}) do %>
      <p>product_name</p>
      <input type="name" name="product_name" value="<%= @post.product_name %>">
      <p>price</p>
      <input type="number" name="price" value="<%= @post.price %>">円
      <p>content</p>
      <textarea name="content"><%= @post.content %></textarea>
      <p>画像</p>
      <input name="image" type="file">
      <br>
      <input type="submit" value="保存">
    <% end %>
  </div>
</div>
