/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

header {
    background-color: pink;
    padding: 10px;
    text-align: right;
}

header ul {
    margin: 0px;
    list-style-type: none;
    padding-left: 0px;
}


.header-menus li {
    display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
}

.header-menus li > a {
    text-decoration: none;
    color: inherit;
}

/*マウスカーソルがのった時*/
.header-menus li > a:hover {
    color: royalblue;
}

.header-menus p{
    text-align: right;
    text-align: bottom;
}

.header-menus p > a {
    text-decoration: none;
    color: red;
}

.header-menus p > a:hover {
    color: inherit;
}

.flash {
    margin: 0px;
    margin-right: 0px;
    margin-left: 0px;
    color: white;
    background: rgb(251, 170, 88);
    text-align: center;
    position: absolute;
    top: 64px;
    z-index: 10;
    width: 100%;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
}
